.labelstyle {
    all: revert;
    font-size:14px;
    font-weight: 700;
    background-color: none;
    border-color: none;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0px;
    cursor: none;
    direction: 'center';
}

.flagstyle {
    all: revert;
    font-size:24px;
    font-weight: 700;
    background-color: none;
    border-color: none;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0px;
    cursor: none;
    direction: 'center';
}

.acknowledgment {
  position: absolute;
  bottom: 0;
  font-size:7px;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
}
